body {
    padding-top: 56px;
}

@media (min-width: 952px) {
    body {
        padding-top: 56px;
    }
}


/* nav bar styling here */

.ul-nav {
    padding-top: 7px;
}

.ul-nav li {
    margin-right: 15px;
}

.navbar {
    margin-bottom: 0px!important;
}

.navbar-nav .register a {
    background-color: rgb(231, 0, 0);
    color: #fff!important;
    padding-right: 25px!important;
    padding-left: 25px!important;
    border-radius: 4px;
    font-weight: 600;
}

.navbar-nav .register a:hover {
    background-color: red;
}


/* navbar styling ends here */

.job-caption {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px 2px rgb(231, 231, 231);
    padding: 5px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.job-caption h1 {
    font-size: 24px!important;
    font-weight: 650;
}

.job-caption p {
    font-size: 12px;
    color: #343a3f;
}

.job-caption .lead {
    font-size: 14px;
    font-weight: 600;
    color: #000!important;
    opacity: 0.9;
    padding-top: 7px;
    margin-bottom: 20px;
    line-height: 1.8;
    letter-spacing: 1.0px;
}

.job-caption .caption-body {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
}

.job-caption .caption-status {
    font-size: 14px;
    text-align: center;
    color: #343a3f;
    padding-bottom: 30px;
}

.caption-apply {
    text-align: center;
}

.caption-apply .btn-apply {
    text-align: center;
    color: #fff;
    background-color: red;
    padding: 10px 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.job-stack {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 2px 3px 2px rgb(231, 231, 231);
    padding: 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.job-stack .stack {
    font-size: 24px!important;
    font-weight: 650;
}

.job-stack p {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    color: #343a3f;
}

.ul-details {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.8;
    color: #343a3f;
}


/* styling for jobs starts here */

.card-body {
    background-color: #fff;
    box-shadow: 1px 2px 3px 2px rgb(231, 231, 231);
    padding: 20px 30px;
    border-radius: 4px;
}

.card-body .card-title {
    font-size: 24px!important;
    font-weight: 650;
    padding-top: 7px;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.card-body .card-text {
    font-family: sans-serif!important;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.8px;
    font-weight: 500;
}

.card-open {
    font-size: 28px;
    font-weight: 650;
}

.card-body .card-sub {
    color: #7b8088;
    font-size: 12px!important;
}

.card-body .card-subtitle {
    color: red;
    font-size: 14px;
    font-weight: 550;
}

.card-body span {
    color: black!important;
    padding-right: 5px;
}

.card-apply {
    text-align: center!important;
}

.card-apply .btn-more {
    background-color: red;
    color: #fff;
    padding: 7px 40px!important;
    font-weight: 550;
    margin-top: 100px;
}

.card-apply .btn-jobs {
    background-color: red;
    color: #fff;
    padding: 7px 40px!important;
    font-weight: 550;
    margin-top: 50px;
    cursor: pointer;
    margin-bottom: 50px;
}

.card-apply .card-status {
    color: #7b8088;
    padding-top: 10px;
}

.job-page {
    background-color: #f8fafb;
}


/*  */


/* start of styling category */

.cat-x1 {
    background-color: #f8fafb;
}

.cat-x1 h2 {
    font-size: 24px;
}

.cat-detail {
    margin-bottom: 30px;
}

.dit-core {
    padding-bottom: 30px;
    padding-top: 30px;
}


/* .dig-x1 a:hover {
    color: #fff!important;
    transition: -webkit-transform 2s ease;
    transition: background transform 2s ease;
    transition: background transform 2s ease;
} */

.digit-world a:hover {
    text-decoration: none!important;
}

.dig-x1 {
    background-color: #fff;
    font-family: sans-serif;
    text-align: center!important;
    border-radius: 4px;
    padding: 30px 20px;
    cursor: pointer;
    font-weight: 600;
    box-shadow: 3px 3px 10px 3px rgb(231, 231, 231);
}

.dig-x1:hover {
    background-color: red!important;
    color: #fff!important;
    font-family: sans-serif;
    text-align: center!important;
    border-radius: 4px;
    padding: 30px 20px;
    cursor: pointer;
    transition: .4s ease-in-out;
    /* transition: width 1s ease-in-out, height 1s ease-in-out; */
}

.dig-x1 .inner-text {
    font-size: 14px;
    padding-bottom: 10px;
    /* color: red; */
}

.dig-x1 span {
    /* background-color: #f8fafb; */
    padding: 2px 20px;
    border-radius: 4px;
}

.dig-x1 .fa {
    padding-bottom: 15px;
    font-size: 25px;
    /* color: red; */
}

.cat-view {
    text-align: center;
}

.btn-view {
    background-color: red;
    padding: 10px 25px;
    border-radius: 3px;
    color: #fff!important;
    font-size: 14px!important;
    margin-bottom: 30px!important;
    margin-top: 15px;
    font-family: sans-serif;
    font-weight: 600;
}

.btn-view:hover {
    background-color: #201206;
}


/* end of styling category */


/* first bloack styling starts here */

.right-caption p {
    color: #fff;
    font-size: 14px;
}

.right-caption {
    padding-bottom: 150px;
}

.main-block {
    background-size: cover;
    width: auto;
    background-image: url('./../img/background.jpg');
    /* background-position: 50% 50%; */
}

.main-caption {
    padding-top: 250px;
    color: #fff;
    font-weight: 600;
    font-size: 40px;
}

.form-group .form-control-lg {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.btn-search {
    text-align: center;
    background-color: red;
    cursor: pointer;
    color: #fff;
    padding: 7px 25px;
    border-radius: 4px;
    font-size: 30px;
}

.expand input {
    /* padding-top: 30px!important;
    padding-bottom: 30px!important; */
    height: 60px!important;
    font-size: 16px!important;
    margin-bottom: 10px;
}

.cat span {
    /* border: 1px solid #fff; */
    padding: 4px 15px;
    border-radius: 4px;
    margin-left: 10px;
    background-color: red;
}


/* first bloack styling starts here */


/* last block starts here */

.caption-inside {
    background-size: cover;
    width: auto;
    background-image: url('./../img/background.jpg');
    background-position: 50% 50%;
}

.caption-color {
    background-color: red;
    opacity: 0.8
}

.caption-self {
    text-align: center;
    padding: 60px 10px;
}

.caption-self h2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: normal;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.0px;
    opacity: 1.0!important;
}


/* last block ends here */


/* footer starts here */

.fot-main {
    background-color: #202020;
    color: #999;
    font-family: sans-serif;
}

.x1 {
    border-bottom: 1px solid rgb(110, 110, 110);
}

.main-x1 {
    padding-top: 60px;
    padding-bottom: 30px;
}

.active {
    font-size: 16px!important;
    padding-bottom: 20px!important;
    color: #fff!important;
}

.ul-footer li {
    list-style: none!important;
    padding-bottom: 7px;
    font-size: 14px;
}

.ul-footer li a {
    color: #999!important;
    text-decoration: none!important;
}

.main-x2 h2 {
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.cent-ft {
    text-align: center!important;
}

.main-x3 li {
    list-style: none;
    display: inline;
}

.main-x3 li .fa {
    border: 1px solid #999;
    padding: 6px;
    border-radius: 50px;
    margin-right: 25px;
}

.main-x3 li .bk {
    padding: 6px 9px!important;
}

.main-x3 li .gg {
    padding: 6px 7px!important;
}

.main-x3 li .ln {
    padding: 6px 8px!important;
}

.main-x3 li a {
    color: #999!important;
}

.main-x2 p {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 10px;
}

.main-x2 span {
    color: #fff;
}


/* footer ends here */


/* register section start here */

.reg-section {
    background-color: #f8fafb;
}

.register-content {
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-register {
    max-width: 60%;
}


/* register section ends here */


/* about page styling goes here */

.about-details h2 {
    font-size: 36px;
    color: #343a3f;
    text-align: left;
    line-height: normal;
    font-weight: 650;
    font-style: normal;
    letter-spacing: 1.0px;
    opacity: 1.0!important;
    padding-bottom: 20px;
    max-width: 80%;
}

.about-details p {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.8;
    max-width: 80%;
}

.btn-client {
    background-color: red;
    color: #fff;
    padding: 10px 30px!important;
    font-weight: 600;
    margin-bottom: 30px;
    cursor: pointer;
}


/* about page styling ends here */


/* contact us */


/* 
.ul-left {
    margin-left: 100px;
}

.navbar-nav li {
    font-size: 14px!important;
}

.navbar-nav li a {
    margin-right: 15px!important;
    padding-right: 25px!important;
    padding-left: 15px!important;
    padding-right: 15px!important;
    font-weight: 600;
    text-align: center!important;
}

.navbar-nav li a:hover {
    background-color: rgb(78, 78, 78);
    color: #fff;
    border-radius: 4px;
}

.navbar {
    background-color: transparent!important;
}

.ul-right .fa {
    margin-right: 6px;
}
 */


/*  */

.grey {
    background-color: #f8fafb;
}

.name input {
    width: 40%!important;
}

.email input {
    width: 40%!important;
}

.con-fm h2 {
    padding-bottom: 10px;
}

.btn-send {
    margin-top: 20px;
    background-color: #1d4386;
    color: #fff;
    font-size: 16px;
    margin-bottom: 30px;
}

.con-hello {
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.details-con {
    padding-top: 60px;
}

.con-hello p {
    font-size: 14px!important;
}