<h1>Create Posts</h1>

{{!-- {{#each errors}}
    <div class="alert alert-danger">
        {{message}}
    </div>
{{/each}} --}}

<form action="/admin/posts/create" method="post" enctype="multipart/form-data">

    <div class="form-group">
        <label for="title">Title</label>
        <input name="title" type="text" class="form-control" id="title" placeholder="Enter Title">
    </div>

    <div class="form-group">
        <label for="file">File Upload</label>
        <input name="file" type="file" class="form-control">
    </div>

     <div class="form-group">
        <label for="title">Amount</label>
        <select name="amount" id="amount" class="form-control">
            <option value="&#8358;100,000 - &#8358;150,000">&#8358;100,000 - &#8358;150,000</option>
            <option value="&#8358;150,000 - &#8358;200,000">&#8358;150,000 - &#8358;200,000</option>
            <option value="&#8358;200,000 - &#8358;250,000">&#8358;200,000 - &#8358;250,000</option>
            <option value="&#8358;250,000 - &#8358;350,000">&#8358;250,000 - &#8358;350,000</option>
            <option value="&#8358;350,000 - &#8358;700,000">&#8358;350,000 - &#8358;700,000</option>
        </select>
    </div>

    <div class="form-group">
        <label for="title">Location</label>
        <select name="location" id="location" class="form-control">
            <option value="Lagos, Nigeria">Lagos, Nigeria</option>
            <option value="Ibadan, Nigeria">Ibadan, Nigeria</option>
            <option value="Port Harcourt, Nigeria">Port Harcourt, Nigeria</option>
            <option value="Abuja, Nigeria">Abuja, Nigeria</option>
        </select>
    </div>

    <div class="form-group">
        <label for="title">Status</label>
        <select name="status" id="status" class="form-control">
            <option value="public">Public</option>
            <option value="private">Private</option>
            <option value="draft">Draft</option>
        </select>
    </div>

    <div class="form-group">
        <label for="title">Category</label>
        <select name="category" id="category" class="form-control">
            {{#each categories}}
                <option value="{{id}}">{{name}}</option>
            {{/each}}
        </select>
    </div>

    <div class="form-group">
        <label for="allowComments">Allow Comment</label>
        <input name="allowComments" type="checkbox" class="form-control" id="allowComments"> 
    </div>

    <div class="form-group">
        <label for="body">Body</label>
        <textarea name="body" cols="30" rows="10" class="form-control" id="title" placeholder="Body"></textarea>
    </div>
        <button class="btn btn-primary" type="submit">Submit</button>
</form>