<div class="container">
    <h2>here</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="about-details">
                <h2>Globally Diverse Perspective</h2>
                <p>We have developed products that have impacted people and businesses on different continents while maintaining a local connection. Our expansive experience working with new age technologies, for diverse audiences over the past decade helps us to craft a fit-for-purpose solution regardless of your target market.
    </p>
            <button class="btn btn-client">Client</button>
        </div>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="about-details">
                <h2>Software Development, De-Risked</h2>
                <p>A new paradigm in software development that empowers the client and emboldens the blueprint for success. With our milestone-based engagement plan, you only pay for one milestone at a time, limiting your investment exposure and keeping us honest. Code-reviewed deliverables guarantee that you are not sold lemons but rather a top-shelf output by a trusted partner.</p> 
                <button class="btn btn-client">Client</button>   
            </div>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="about-details">
                <h2>Visibility And Control</h2>
                <p>Never feel lost or in the dark about your product. With proprietary tools and processes, take full control of the delivery process and see the progress of your product, on-demand. Monitor project output through our Project Pulse tool and experience better involvement in your product's lifecycle.</p> 
                <button class="btn btn-client">Client</button>   
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>