<body>

      <section class="main-block">
        <div class="container">
          <div class="row right-caption">
              <div class="col-md-12 cat">
                  <h2 class="main-caption">Get the right job that matches your skills</h2>
                  <br>
                  <div class="form-group">
                      <div class="row">
                          <div class="col-md-10 expand" id="searchStr">
                              <input class="form-control form-control-lg" type="text" placeholder="job title, keyword or location" id="searchJobs" aria-describedby="emailHelp">
                          </div>
                          <div class="col-md-2">
                              <button class="btn btn-search"><i class="fa fa-search"></i></button>
                          </div>
                      </div>
                  </div>
                  <p> Job Offer By<span>Category</span></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 text-center">
                  <div class="row white-bk">
                        <div class="col-md-2 show-white">
                          <a href="/">
                            <div class="image-1">
                                <img class="img-responsive" src="img/icons/stopwatch.png" alt="">
                                <p>Development</p>
                            </div> 
                            </a>
                        </div>
                        <div class="col-md-2 show-white">
                            <a href="/">
                                <div class="image-1">
                                    <img class="img-responsive" src="img/icons/product.png" alt="">
                                    <p>Prototyping</p>
                                </div> 
                            </a>
                        </div>
                         <div class="col-md-2 show-white">
                            <a href="/">
                                <div class="image-1">
                                    <img class="img-responsive" src="img/icons/code.png" alt="">
                                    <p>Coding</p>
                                </div> 
                            </a>
                        </div>
                        <div class="col-md-2 show-white">
                            <a href="/">
                                <div class="image-1">
                                    <img class="img-responsive" src="img/icons/vector.png" alt="">
                                    <p>Vector</p>
                                </div> 
                            </a>
                        </div>
                        <div class="col-md-2 show-white">
                            <a href="/">
                                <div class="image-1">
                                    <img class="img-responsive" src="img/icons/share.png" alt="">
                                    <p>Export</p>
                                </div> 
                            </a>
                        </div>
                        <div class="col-md-2 show-white">
                            <a href="/">
                                <div class="image-1">
                                    <img class="img-responsive" src="img/icons/approval.png" alt="">
                          <p>Testing</p>
                                </div> 
                            </a>
                        </div>
                  </div>
              </div>
          </div>
        </div>
      </section>

      <section class="job-page">
        <div class="container">
          <div class="row">
                  <!-- Blog Entries Column -->
                  <div class="col-md-12">
                    <h1 class="my-4 card-open">Job Opening</h1>      
                  <div class="card mb-4">
                      <div class="img-holder">
                      </div>
                      <div class="card-body">
                          <div class="card-pattern"></div>
                        <div class="row">
                          <div class="col-md-8">
                            <h2 class="card-title">React Native Developer</h2>
                            
                            <p class="card-sub mb-2 mt-2">Lagos, Nigeria</p>
                            <p class="card-text">We're looking for developer-entrepreneurs and technical business owners to join the Growth team at Paystack as Technical Product Specialists. Developers are one of the most important groups in Paystack's community of partners, and as the Technical Product Specialist, you'll own our developer relations and give Paystack developers the superpowers they need to build amazing products.</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Stack:</span> Python, Angular</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Amount:</span> ₦100,000 - ₦150,000</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Level:</span> Senior</p>
                          </div>
                          <div class="col-md-4">
                            <div class="card-apply">
                                <a href="/post/{{id}}" class="btn btn-more">Read More &rarr;</a>
                                <p class="card-status">Status: ongoing</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{!-- <div class="card-footer text-muted">
                        Posted on July 28, 2019 by
                        <a href="#">Dev_Jobs</a>
                      </div> --}}
                  </div>

                  <div class="card mb-4">
                      <div class="img-holder">
                      </div>
                      <div class="card-body">
                          <div class="card-pattern"></div>
                        <div class="row">
                          <div class="col-md-8">
                            <h2 class="card-title">.NET Developer</h2>
                            
                            <p class="card-sub mb-2 mt-2">Lagos, Nigeria</p>
                            <p class="card-text">SumoSoft is a London based startup that focuses on the creation of e-commerce libraries for developers. We are looking for a ninja back-end web developer who is motivated to combine the art of design with the art of programming</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Stack:</span> Python, Angular</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Amount:</span> ₦100,000 - ₦150,000</p>
                            <p class="card-subtitle mb-2 mt-2"><span>Level:</span> Senior</p>
                          </div>
                          <div class="col-md-4">
                            <div class="card-apply">
                                <a href="/post/{{id}}" class="btn btn-more">Read More &rarr;</a>
                                <p class="card-status">Status: ongoing</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      {{!-- <div class="card-footer text-muted">
                        Posted on July 28, 2019 by
                        <a href="#">Dev_Jobs</a>
                      </div> --}}
                  </div>

                  <div class="card-apply">
                    <a href="/jobs">
                        <button class="btn btn-jobs">View All Jobs</button>
                    </a>
                  </div>

                  </div>

          </div>
        </div>
      </section>

      <section class="cat-x1">
        <div class="container">
            <div class="dit-core">
                <h2>Skills Recruiters are looking for</h2>
            </div>
            <!-- row one -->
            <div class="line">
                <div class="row cat-detail space-detail">
                    <div class="col-md-3 digit-world">
                        <a href="/frontend" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-compress"></i><br>
                                <span class="inner-text">Front End Developer</span><br>
                                <span>3</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/backend" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-beer"></i><br>
                                <span class="inner-text">Back End Developer</span><br>
                                <span>1</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/fullstack" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-male"></i><br>
                                <span class="inner-text">Full Stack Developer</span><br>
                                <span>5</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/devops" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-compass"></i><br>
                                <span class="inner-text">Dev Ops</span><br>
                                <span>10</span>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- row two -->
                <div class="row cat-detail">
                    <div class="col-md-3 digit-world">
                        <a href="/designer" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-desktop"></i><br>
                                <span class="inner-text">UI/UX Designer</span><br>
                                <span>2</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/projectmanager" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-code"></i><br>
                                <span class="inner-text">Project Manager</span><br>
                                <span>3</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/digital-marketer" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-binoculars"></i><br>
                                <span class="inner-text">Digital Marketer</span><br>
                                <span>13</span>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-3 digit-world">
                        <a href="/content" class="">
                            <div class="dig-x1 digit-world">
                                <i class="fa fa-wrench"></i><br>
                                <span class="inner-text">Content Developer</span><br>
                                <span>3</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
                <div class="cat-view">
                    <button class="btn btn-view">Browse All Skills</button>
                </div>
            
            {{!-- category ends here --}}

            {{!-- services feature starts here --}}
            <div class="row body-wrap wrap-top">
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-serv">
                            <img src="img/icons/hourglass.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>App Development</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-brown">
                            <img src="img/icons/cloud-computing.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>Cloud Storage</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-blue">
                            <img src="img/icons/trophy.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>10 Times Award</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row body-wrap wrap-bottom">
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-green">
                            <img src="img/icons/settings.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>Customization</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-purple">
                            <img src="img/icons/strategy.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>UX Planning</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4 ref-serve">
                    <a href="/services">
                    <div class="row">
                        <div class="col-md-4 bk-speech">
                            <img src="img/icons/speech-bubble.png" alt="">
                        </div>
                        <div class="col-md-8 service-x1">
                            <h2>Customer Support</h2>  
                            <p>Get your proof tests delivered home collect a sample from the news get design.</p> 
                        </div>
                    </div>
                    </a>
                </div>
            </div>

            {{!-- services features ends here --}}
        </div>
      </section> 

      <section class="cat-x1">
          <div class="container">
              <div class="accordion" id="accordionExample">
                <div class="">
                    <div class="text-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        How to contact with riders emergency?
                        </button>
                    </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="text-body">
                        Get your blood tests delivered at the home collect a sample from management news. Get your blood tests delivered at the home collect a sample from management news. Get your blood tests delivered at the home collect a sample from management news. Get your blood tests delivered at the home. Your blood tests delivered at the home collect a sample from management news. Get your blood tests delivered at the home collect a sample from management news.
                    </div>
                    </div>
                </div>
                <div class="">
                    <div class="text-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        App installation failed, how to update system information?
                        </button>
                    </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="text-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="">
                    <div class="text-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Website reponse taking time, how to improve?
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="text-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
                <div class="">
                    <div class="text-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        New update fixed all bug and issues
                        </button>
                    </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="text-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                    </div>
                </div>
              </div>
          </div>
      </section>

    
      <section class="caption-inside">
          <div class="caption-color">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12 caption-self">
                          <div class="flip-banner-content">
                              <h2>Step inside and see for yourself</h2>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
        
        
</body>
