<div class="container">
    <h2>jkfms;</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="about-details">
                <h2>Product Strategy</h2>
                <p>From helping you ideate on product concept to engineering strategies for execution and then market roll out, we stay with you all the way. Our Product Strategy offering helps synthesize your idea with a properly articulated roadmap of features based on a market-friendly release schedule.</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="about-details">
                <h2>Application Development</h2>
                <p>Intelia's products are founded on a design-led philosophy that thinks of the user first while leveraging proprietary and open source technology to deliver context-aware, adaptive experiences. Purpose built solutions for the cloud, mobile, web, IoT and virtual reality that exceed product objectives</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="about-details">
                <h2>Analytical & Big Data</h2>
                <p>Data is life. Let’s help unlock the power of Big Data to help reduce cost, improve efficiencies and achieve corporate objectives. We help organizations consolidate data and unify warehouses to reduce costs of hardware, software tools and processes. Our Data Scientists create complex algorithms that provide advanced analytical tools and technologies and build solutions to solve specific problems such as ‘customer churn’.</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="about-details">
                <h2>Analytical & Big Data</h2>
                <p>Data is life. Let’s help unlock the power of Big Data to help reduce cost, improve efficiencies and achieve corporate objectives. We help organizations consolidate data and unify warehouses to reduce costs of hardware, software tools and processes. Our Data Scientists create complex algorithms that provide advanced analytical tools and technologies and build solutions to solve specific problems such as ‘customer churn’.</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="about-details">
                <h2>Machine Learning</h2>
                <p>Build powerful applications that generate meaningful, actionable insights from your business data through machine learning and artificial intelligence. Our suite of AI/ML offering focuses on algorithm development, data modeling, deep learning and Natural Language Processing (NLP).</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <div class="about-details">
                <h2>Enterprise Applications</h2>
                <p>We enable our customers to improve current IT processes and transform them into cost-efficient solutions. Our enterprise re-engineering and technology modernization solutions help enterprises stay competitive by giving them a basis to innovate.</p>
                <button class="btn btn-client">Client</button>  
            </div>                 
        </div>
        
    </div>
</div>